@import "./reset.scss";
.wrapper {
  min-height: 100vh;
  min-width: 100%;
  font-family: "Outfit", sans-serif;
  padding: 3rem 1.5rem;
  background-color: #121826;
  background-image: url(../img/Background_image.svg);
  font-size: 1rem;
  font-weight: 400;
  color: #9da3ae;
}
.title {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  color: #e5e7eb;
  max-width: 35%;
  margin: auto;
  margin-bottom: 1rem;
}
.subtitle {
  margin-bottom: 3rem;
  text-align: center;
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  &__item {
    max-width: 19.75rem;
    padding: 1.5rem;
    margin-right: 3rem;
    border-radius: 1rem;
    background-color: #212936;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.15);
    &:last-child {
      margin: 0;
    }
    &:nth-child(1) .card__icon {
      background-color: #fceed8;
    }
    &:nth-child(2) .card__icon {
      background-color: #dee9fc;
      align-content: end;
    }
    &:nth-child(3) .card__icon {
      background-color: #fbe5e6;
    }
  }
}
.card {
  &__icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 3.25rem;
    max-height: 3.25rem;
    font-size: 1.5rem;
    border-radius: 50%;
    padding: 1rem;
    background-color: #fceed8;
  }
  &__title {
    margin: 1rem 0;
    font-size: 1.25rem;
    font-weight: 600;
    color: #e5e7eb;
  }
  &__text {
    max-width: 90%;
    margin-bottom: 1rem;
    color: #d2d5da;
  }
  &__img {
    border-radius: 1rem;
  }
}
@media (min-width: 1093px) and (max-width: 1169px) {
  .title {
    max-width: 40%;
  }
}
@media (min-width: 1029px) and (max-width: 1092px) {
  .title {
    max-width: 40%;
  }
  .card {
    margin-bottom: 3rem;
    &:first-child {
      margin-left: 3rem;
    }
  }
}
@media (min-width: 921px) and (max-width: 1029px) {
  .title {
    max-width: 45%;
  }
  .card {
    margin-bottom: 3rem;
    &:first-child {
      margin-left: 3rem;
    }
  }
}
@media (min-width: 833px) and (max-width: 920px) {
  .title {
    max-width: 50%;
  }
  .card {
    margin-bottom: 3rem;
    &:first-child {
      margin-left: 3rem;
    }
  }
}
@media (max-width: 832px) {
  .wrapper {
    padding: 3rem 0.75rem;
  }
  .title {
    max-width: 100%;
  }
  .card-row {
    flex-direction: column;
    align-content: center;
  }
  .card {
    margin: 0;
    margin-bottom: 3rem;
    &:first-child {
      margin: 0;
      margin-bottom: 3rem;
    }
  }
}
